#content{
    max-width: 1600px;
    margin: 0 auto;
  }
  
  #background{
    height: 725px;
    background-color: #f1faee
  }
  body {
      text-align: center;
      background-color: #f1faee;
      font-family: Roboto-Mono, Arial, sans-serif;
      font-size: 22px;
      margin: 0;
      padding: 0; 
    }
  
    header {
      background-color:#e63946;
      display: grid;
      grid-template-columns: 150px auto;
        
        
    }
    nav a:hover {
      background-color: #629677;
      color: #f1faee;
      text-align: center;
      color: #457b9d;
      text-decoration: none;
  }
  nav a{
    text-align: center;
      text-decoration: none;
      color: #457b9d;
      padding: 35px;
  }
    nav {
      background-color:#e63946;
      padding: 10px;
      justify-content: space-around;
      display: flex;
      grid-template-columns: 1fr 1fr 1fr 1fr;
        grid: row 1fr;
    }
    a {
      color: white;
      margin: 40px;
    }
    h2{
      text-align: center;
      text-decoration: #111;
      margin: 0;
      padding:0;
    }
    h1 {
      color: 457b9d;
      text-align: center;
      padding: 10px;
    }
    img {
      width: 800px;
      border: 10px solid #e63946;
      border-image: round;
    }
    p {
      padding: 10px;
      text-indent: 30px;
      text-align:center;
      
      
    }
    footer {
      background-color: #e63946;
      color: white;
        padding: 25px 50px;
        margin-top: 200px; 
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    
    footer a{
      background-color: #457b9d;
      color: #f1faee;
      text-align: center;
      text-decoration: none;
    }
  footer a:hover{
    background-color: grey;
    color: #d9c2a3;
  }
  footer p{
    font-size: 1.2em;
  }
  footer p a:hover {
    text-decoration: underline;
  }   
    .home-title{
      background-color: #9f84bd;
      color: #d9c2a3;
      margin-top: 10px;
      font-family: Roboto-Mono, Arial, sans-serif;
      font-size: 2em;
    }
  
  h4{ background-color: #9f84bd;
    color: #d9c2a3;
  }
  .logo{
    width:80px;
  }
  .icon{
    width:80px;
    padding-top:10px ;
  }
  #hero-msg h1, #hero-msg h4{ 
    text-align: center;
  }
    #hero-msg h4 {
      color: white;
  }
  .button-box{
     text-align: center;
    }
  main section{
     text-align: center;
    }
    
    main section img {
      box-sizing: border-box;
  }
    #background {
      height: 725px;
      grid-column: 1/11;
      grid-row: 4/9;
  }
  .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  #logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
  }
  #hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
  }
  #hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
  }
  #hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
  }
  #hero-msg h4{
  color:white;
  }
  .card-img, .mountains {
    width: 100%;
  }
  
  h2{
    padding: 0;
    margin: 0;
  }
  */
  
  /*The Subpage2 Services Picture Gallery css coding starts below:*/
  body {
    font-family: Arial;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  /*The End-Products subpage3 css coding starts here on the line below:*/


  